# 构建产物
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# 平台产物
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig

# IDE
.idea/
*.iml
.vscode/

# 系统
.DS_Store
Thumbs.db

# 日志
*.log
